@using System.Text.Json

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor H

@using EcommerceWebSite.Models
@model EcommerceWebSite.Models.Cart

@{
    const string CartSessionKey = "CART";
    var json  = H.HttpContext!.Session.GetString(CartSessionKey);
    var cart  = !string.IsNullOrEmpty(json) ? (JsonSerializer.Deserialize<Cart>(json) ?? new Cart()) : new Cart();
    var count = cart.CartLines.Count;
}

<ul class="navbar-nav ms-3 my-2 my-lg-0">
    <li class="nav-item">
        <a class="nav-link text-white" asp-controller="Cart" asp-action="Index">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            (@count)
        </a>
    </li>
</ul>
